@charset "UTF-8";

body {
    font-size: 14px;
}
a {
    text-decoration: none;
}

#html-art a {
    display: block;
}
#html-art {
    display: flex;
    align-items: center;
}
section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
section h2 {
    font-weight: bold;
}
